form {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 255, 255);
    padding: 20px;
    z-index: 3;
    width: 30vw;
    gap: 20px;
}

button[type='submit'], button[type='button'] {
    background-color: rgb(102, 102, 120);
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

div.button_block {
    display: flex;
    justify-content: space-evenly;
}