input.main_form_input {
    background-color: #ccaee7;
    color: #000000;
}

input.main_form_input::placeholder {
    color: #000000;
    font-family: 'Poppins';
}

select.main_form_select {
    background-color: #ccaee7;
    border: none;
    border-radius: 0px;
}
