table {
    background: #5e3c7e;
    color: white;
    display: table;
    margin-top: 50px;
    width: 100vw;
}

table tbody {
    border-color: inherit;
    display: table-row-group;
    vertical-align: middle;
}

table tbody tr {
    border-color: inherit;
    display: table-row;
    vertical-align: inherit;
}

table tbody tr:nth-child(even) {
    background-color: #6a4f84;
}

table tbody td , th {
    display: table-cell;
    padding: 5px 0;
    text-align: center;
    vertical-align: inherit;
}

button.edit_btn_table {
    background-color: rgb(102, 102, 120);
    height: 30px;
    padding: 0px 15px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}